@import url(./colors.css);

body {
    font-family: 'Courier New', Courier, monospace;
    color: #666;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.magic-wrapper {
    font-size: 2em;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: stretch;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
}

#title {
    font-weight: bold;
    grid-column: auto / span 9;
    transition: 500ms;
    text-justify: inter-character;
    transform: translateY(0);
}

.char {
    grid-row: var(--row);
    grid-column: var(--col);
}

.magic-link {
    display: contents;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    transition: 200ms;
}
@media (hover: hover) {
    .magic-link:not(:hover) > .link-char {
        color: #aaa !important;
        text-decoration-color: #aaa !important;
    }

    #title:not(:hover) > span {
        color: white !important;
    }
}

.sublink-0 {color: var(--text-color-0)}
.sublink-1 {color: var(--text-color-1)}
.sublink-2 {color: var(--text-color-2)}
.sublink-3 {color: var(--text-color-3)}
.sublink-4 {color: var(--text-color-4)}
.sublink-5 {color: var(--text-color-5)}

.magic-link:hover > .link-char {
    transform: scale(105%) translateY(-.1em);
}

.link-char {
    position: relative;
    text-decoration: underline dotted var(--line-color, currentcolor);
    transition: 200ms;
}

.cursor {
    color: white;
    animation: cursor 250ms steps(2) 0s 12 alternate backwards;
}

#title.wave:hover span {
    width: calc(100% / 9);
}

.wave:hover span {
    position: relative;
    display: inline-block;
    animation: wave .75s ease-in-out infinite alternate;
    animation-delay: calc(.1s * var(--i));
    text-align-last: justify;    
}

.float-away span {
    position: relative;
    display: inline-block;
    transition: 1s;
    transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
}

.float-away:hover span {
    transition: transform 5s;
    transform: translate3d(var(--tx), var(--ty), var(--tz)) rotate3d(var(--rx), var(--ry), var(--rz), var(--ra));
}

@media (hover: none) {
    .magic-link {opacity: .75;}
}

@keyframes cursor {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes wave {
    0% {transform: translateY(-.1em);}
    100% {transform: translateY(.1em);}
}