@import url(./colors.css);

.req-js {
    display: none !important;
}

html {
    background-color: #111;
    font-family: 'Courier New', Courier, monospace;
    color: #666;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    padding: 1vh 1vw;
    z-index: 1;
}

.bg {
    position: fixed;
    bottom: -1em;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: .15;
    width: 100vw;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.5em;
    z-index: -1;

    /* Prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title {
    font-weight: bold;
    font-size: 3em;
    transition: 500ms;
    transform: translateY(0);
    z-index: 2;
    margin-top: 0;
    flex-grow: 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.link {
    font-weight: bold;
    transition: 200ms;
    text-decoration: underline var(--line-color, currentcolor);
    font-size: clamp(1em, min(calc(100vh/20), calc(1.6*98vw/var(--len))), 2em);
    height: 1em;
}

@media (hover: hover) {
    .link:not(:hover) {
        color: #aaa !important;
        text-decoration-color: #aaa !important;

        span {
            color: #aaa !important;
        }
    }

    #title:not(:hover) > span {
        color: #ccc !important;
    }
}

.sublink-0 {color: var(--text-color-0)}
.sublink-1 {color: var(--text-color-1)}
.sublink-2 {color: var(--text-color-2)}
.sublink-3 {color: var(--text-color-3)}
.sublink-4 {color: var(--text-color-4)}
.sublink-5 {color: var(--text-color-5)}

.wave:hover span {
    position: relative;
    display: inline-block;
    animation: wave .75s ease-in-out infinite alternate;
    animation-delay: calc(.15s * var(--i));
    text-align-last: justify;    
}

@keyframes wave {
    0% {transform: translateY(0);}
    100% {transform: translateY(-.2em);}
}